<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <%=link_to admin_root_path, class: "brand-link text-center" do%>
    <span class="brand-text font-weight-light">QUEUE SYSTEM</span>
  <% end%>
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image text-white">
        <i class="fa fa-user mt-2"></i>
      </div>
      <div class="info">
        <%=link_to current_administrator.name[0,20] + "..." , root_path %>
      </div>
    </div>
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image text-white">
        <i class="fa fa-building mt-2"></i>
      </div>
      <div class="info">
        <%=link_to current_administrator.company.name[0,20] + "...", root_path %>
      </div>
    </div>
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
      </div>
      <div class="info">
        <%=link_to destroy_administrator_session_path, method: :delete, class: "font-weight-bold text-danger" do%>
          Logout <i class="fa fa-sign-out ml-1" aria-hidden="true"></i>
        <%end%>
      </div>
    </div>
    <!-- SidebarSearch Form -->
    <%#=render "base/sidebar/search"%>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <%=render "base/sidebar/single_menu", path: admin_callers_path, name: t("callers"), icon: "fa-volume-high"%>
        <%=render "base/sidebar/single_menu", path: admin_companies_path, name: t("company"), icon: "fa-building"%>
        <%=render "base/sidebar/nested_menu", parent: {name: t("dashboard"), icon: "fa-dashboard"}, 
          child: [
            {name: t("past_queue"), path: past_admin_dashboards_path},
            {name: t("today_queue"), path: today_admin_dashboards_path},            
            {name: t("future_queue"), path: future_admin_dashboards_path},
            {name: t("user_satisfaction_index"), path: user_satisfaction_indices_admin_dashboards_path},
          ]%>
        <%=render "base/sidebar/single_menu", path: admin_file_storages_path, name: t("file_storage"), icon: "fa-boxes-packing"%>
        <%=render "base/sidebar/single_menu", path: admin_buildings_path, name: t("building"), icon: "fa-building"%>
        <%=render "base/sidebar/nested_menu", parent: {name: t("setting")}, 
          child: [
            {name: t("client_display"), path: admin_client_displays_path},
            {name: t("service_clientdisplay"), path: admin_shared_clientdisplays_path},
            {name: t("voiceover_buildings"), path: admin_voiceover_buildings_path},            
          ]%>
        <%=render "base/sidebar/single_menu", path: admin_satisfaction_indices_path, name: t("satisfaction_index"), icon: "fa-face-smile"%>
        <%=render "base/sidebar/single_menu", path: admin_user_satisfaction_indices_path, name: t("user_satisfaction_index"), icon: "fa-face-smile-wink"%>
        <%=render "base/sidebar/nested_menu", parent: {name: t("schedule"), icon: "fa-clock"}, 
          child: [            
            {name: t("working_days"), path: admin_working_days_path},
            {name: t("closing_days"), path: admin_closing_days_path},            
          ]%>
        <%=render "base/sidebar/single_menu", path: admin_services_path, name: t("service"), icon: "fa-hand-holding-heart"%>
        <%=render "base/sidebar/nested_menu", parent: {name: t("counter"), icon: "fa-handshake-angle"}, 
          child: [
            {name: t("list"), path: admin_counters_path},
            {name: t("user_counter"), path: admin_user_counters_path}            
          ]%>
        <%=render "base/sidebar/single_menu", path: admin_users_path, name: t("user"), icon: "fa-users"%>
        <%=render "base/sidebar/single_menu", path: admin_voice_overs_path, name: t("voice_over"), icon: "fa-user-astronaut"%>
        <%=render "base/sidebar/single_menu", path: admin_play_lists_path, name: t("play_list"), icon: "fa-music"%>
        <%=render "base/sidebar/single_menu", path: admin_service_types_path, name: t("service_type"), icon: "fa-landmark"%>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
