<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <%=link_to admin_root_path, class: "brand-link text-center" do%>
    <span class="brand-text font-weight-light">QUEUE SYSTEM</span>
  <% end%>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a href="#" class="d-block">Current User</a>
      </div>
    </div>
    <!-- SidebarSearch Form -->
    <%#=render "base/sidebar/search"%>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <%=render "base/sidebar/nested_menu", parent: {name: t("dashboard"), icon: "fa-dashboard"}, 
          child: [
            {name: t("past_queue"), path: past_admin_dashboards_path},
            {name: t("today_queue"), path: today_admin_dashboards_path},            
            {name: t("future_queue"), path: future_admin_dashboards_path},
          ]%>
        <%=render "base/sidebar/single_menu", path: admin_companies_path, name: t("companies"), icon: "fa-building"%>
        <%=render "base/sidebar/nested_menu", parent: {name: t("schedule"), icon: ""}, 
          child: [
            {name: t("working_days"), path: admin_company_working_days_path},
            {name: t("closing_days"), path: admin_company_closing_days_path},          
          ]%>
        <%=render "base/sidebar/single_menu", path: admin_buildings_path, name: t("buildings"), icon: "fa-building"%>
        <%=render "base/sidebar/nested_menu", parent: {name: t("setting")}, 
          child: [
            {name: t("client_display"), path: admin_client_displays_path},
            {name: t("service_clientdisplays"), path: admin_service_clientdisplays_path},
            {name: t("voiceover_buildings"), path: admin_voiceover_buildings_path},            
          ]%>
        <%=render "base/sidebar/single_menu", path: admin_services_path, name: t("services"), icon: "fa-landmark"%>
        <%=render "base/sidebar/single_menu", path: admin_service_types_path, name: t("types"), icon: ""%>
        <%=render "base/sidebar/nested_menu", parent: {name: t("schedule"), icon: ""}, 
          child: [            
            {name: t("working_days"), path: admin_service_working_days_path},
            {name: t("closing_days"), path: admin_service_closing_days_path},
          ]%>
        <%=render "base/sidebar/single_menu", path: admin_counters_path, name: t("counters"), icon: "fa-shop"%>
        <%=render "base/sidebar/single_menu", path: admin_users_path, name: t("users"), icon: "fa-users"%>
        <%=render "base/sidebar/single_menu", path: admin_user_counters_path, name: t("user_counters"), icon: "fa-people-line"%>
        <%=render "base/sidebar/single_menu", path: admin_voice_overs_path, name: t("voice_overs"), icon: "fa-user-astronaut"%>
        <%=render "base/sidebar/nested_menu", parent: {name: t("permission"), icon: "fa-user-shield"}, 
          child: [
            {name: t("permisi_roles"), path: admin_permisi_roles_path},
            {name: t("permisi_actors"), path: admin_permisi_actors_path},
            {name: t("permisi_actor_roles"), path: admin_permisi_actor_roles_path}            
          ]%>
        <%=render "base/sidebar/nested_menu", parent: {name: t("queue"), icon: "fa-users"}, 
          child: [
            {name: t("today_queues"), path: admin_today_queues_path},
            {name: t("backup_queues"), path: admin_backup_queues_path}
          ]%>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
