<div class="row mb-3">
  <div class="col-12">
    <select id="counter" data-id="<%=params[:counter_id]%>" data-service-id="<%=@selected_counter&.service&.id%>">
      <option value="-">Pilih Loket</option>
      <%@counters.each do |c|%>
        <option value="<%=c.id%>" <%="selected" if params[:counter_id].to_i == c.id%>><%=c.service.name%> / Loket Nomor <%=c.number%></option>
        <%end%>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-6">
      <div class="small-box bg-info">
        <div class="inner">
          <h3 id="current_queue" data-id="<%=@current_queue&.id%>">
            <%=@current_queue&.letter || @selected_counter&.service&.letter%>
            <%=@current_queue&.number&.to_s&.rjust(3, "0") || "000"%>
          </h3>
          <p>Antrian Sekarang</p>
        </div>
        <div class="icon">
          <i class="fas fa-person-booth"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="small-box bg-success">
        <div class="inner">
          <h3 id="total_queue_left"><%=@total_queue_left%></h3>
          <p>Sedang Menunggu</p>
        </div>
        <div class="icon">
          <i class="fas fa-people-roof"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="small-box bg-warning">
        <div class="inner">
          <h3 id="total_offline_queues"><%=@total_offline_queues%></h3>
          <p>Antrian Offline</p>
        </div>
        <div class="icon">
          <i class="fas fa-computer"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="small-box bg-danger">
        <div class="inner">
          <h3 id="total_online_queues"><%=@total_online_queues%></h3>
          <p>Antrian Online</p>
        </div>
        <div class="icon">
          <i class="fas fa-mobile-screen"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button type="submit" class="btn btn-success btn-lg px-5 font-weight-bolder w-100" id="call">Panggil</button>
    </div>
    <div class="col-6">
      <button type="submit" class="btn btn-info btn-lg px-5 font-weight-bolder w-100 recall">Panggil Ulang</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-4">
      <select id="service">
        <%@services.each do |s|%>
          <option value="<%=s.id%>"><%=s.name%></option>
        <%end%>
      </select>
    </div>
    <div class="col-4">
      <div class="form-group">
        <div class="input-group" data-controller="daterangepicker">
          <input type="text" class="form-control py-4" placeholder="dd/mm/yyyy" value="<%=Date.today.to_s%>" id="date">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-danger btn-lg font-weight-bolder w-100" id="transfer">Pindah</button>
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-success btn-lg font-weight-bolder w-100" id="print_ticket">Cetak</button>
    </div>
    <%# <a href="/index2.php?option=com_jumi&amp;fileid=3&amp;Itemid=11" onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=no, resizable=no, width=800, height=300');return false;">Popup link</a> %>
  </div>
