<div class="card-body table-responsive p-0">
  <table class="table table-hover text-nowrap">
    <thead>
      <tr>
        <th>Queue Number</th>
        <th>Priority</th>
        <th>Attend</th>
        <th>Status</th>
        <th>Method</th>
      </tr>
    </thead>
    <tbody>
      <%@today_queues.each do |t|%>
        <tr>
          <td><%=t.letter%><%=t.number%></td>
          <td><%=t.priority%></td>
          <td><%=t.attend%></td>
          <td><%=t.print_ticket_method%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
