<% content_for(:title) do %>
  <%= @summary_title %>
<% end %>
<div class="d-flex justify-content-start align-items-center mb-4">
  <h1 class="mr-4"><%= content_for(:title) %></h1>
  <% if @type == "past"%>
    <div class="form-group mt-3">
      <div class="input-group" data-controller="daterangepicker">
        <button type="button" class="btn btn-default float-right" id="daterangepicker">
          <i class="far fa-calendar-alt"></i> <span id="reportrange">
            <%=params[:start_date].present? && params[:end_date].present? ? "#{params[:start_date]} Sampai #{params[:end_date]}": "Rentang tanggal"%>
          </span>
          <i class="fas fa-caret-down"></i>
        </button>
      </div>
    </div>
  <% end%>
</div>
<div class="row">
  <%@summary.flatten.each do |s| %>
    <div class="col-lg-3 col-6">
      <div class="small-box <%=s[:color]%>">
        <div class="inner">
          <h3><%=s[:y]%></h3>
          <p><%=t(".#{s[:name]}")%></p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <%=link_to s[:detail_path], class: "small-box-footer" do %>
          More Info <i class="fas fa-arrow-circle-right"></i>
        <% end%>
      </div>
    </div>
  <% end%>
</div>
<div class="row">
  <%@pie_chart.each do |p|%>
    <div class="col-<%=12/@pie_chart.count%>">
      <%=render "pie_charts", element: p[:element], data: p[:data].to_json.html_safe %>
    </div>
  <% end%>
</div>
