<% content_for(:title) do %>
  <%= @summary_title %>
<% end %>
<h1 class="mb-4"><%= content_for(:title) %></h1>
<div class="row">
  <%@summary.each do |s| %>
    <div class="col-lg-3 col-6">
      <div class="small-box <%=s[:color]%>">
        <div class="inner">
          <h3><%=s[:value]%></h3>
          <p><%=t(".#{s[:name]}")%></p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <%=link_to s[:detail_path], class: "small-box-footer" do %>
          More Info <i class="fas fa-arrow-circle-right"></i>
        <% end%>
      </div>
    </div>
  <% end%>
</div>
<div class="row">
  <div class="col-<%=(@performance.present? && @user_satisfaction.present?) ? 4: 12%>">
    <div id="summary"></div>
  </div>
  <div class="col-4">
    <div id="performance"></div>
  </div>
  <div class="col-4">
    <div id="user_satisfaction"></div>
  </div>
</div>
<script>
  // Data retrieved from https://netmarketshare.com/
  // Radialize the colors
  Highcharts.setOptions({
    colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
      return {
        radialGradient: {
          cx: 0.5,
          cy: 0.3,
          r: 0.7
        },
        stops: [
          [0, color],
          [1, Highcharts.color(color).brighten(-0.3).get('rgb')] // darken
        ]
      };
    })
  });

  // Summary
  Highcharts.chart('summary', {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
    },
    title: {
      text: '<%=@summary_title%>'
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
      point: {
          valueSuffix: '%'
      }
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          format: '<b>{point.name}</b>: {point.percentage:.1f} %',
          connectorColor: 'silver'
        }
      }
    },
    series: [{
      name: 'Share',
      data: <%=@summary.map{|x| {name: x[:name].to_s, y: x[:value]} if !x[:name].to_s.include? "queues"  }.compact.to_json.html_safe%>
    }]
  });

  // Performance
  <% if @performance.present?%>
  Highcharts.chart('performance', {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
    },
    title: {
      text: '<%=@performance_title%>'
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
      point: {
          valueSuffix: '%'
      }
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          format: '<b>{point.name}</b>: {point.percentage:.1f} %',
          connectorColor: 'silver'
        }
      }
    },
    series: [{
      name: 'Share',
      data: <%=@performance.map{|x| {name: x[:name].to_s, y: x[:value]} if !x[:name].to_s.include? "queues"  }.compact.to_json.html_safe%>
    }]
  });
  <%end%>

  // User Satisfaction
  <% if @user_satisfaction.present?%>
  Highcharts.chart('user_satisfaction', {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
    },
    title: {
      text: '<%=@user_satisfaction_title%>'
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
      point: {
          valueSuffix: '%'
      }
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          format: '<b>{point.name}</b>: {point.percentage:.1f} %',
          connectorColor: 'silver'
        }
      }
    },
    series: [{
      name: 'Share',
      data: <%=@user_satisfaction.map{|x| {name: x[:name].to_s, y: x[:value]} if !x[:name].to_s.include? "queues"  }.compact.to_json.html_safe%>
    }]
  });
  <% end%>
</script>
